<div class="col-sm-8 mb-40 login_box">
    <!-- Form -->
    <form method="post" action="#" id="form" role="form" class="form">
        <div class="mb-20 mb-md-10">
            <!-- Name -->
            <input type="text" name="name" id="name" class="input-md form-control" placeholder="Name" maxlength="100">
        </div>
        <div class="mb-20 mb-md-10">
            <!-- Email -->
            <input type="email" name="email" id="email" class="input-md form-control" placeholder="Email" maxlength="100">
        </div>    
        <div class="mb-20 mb-md-10">
            <!-- Password -->
            <input type="password" name="password" id="password" class="input-md form-control" placeholder="Password" maxlength="100">
        </div>
        
        <div class="mb-20 mb-md-10">
            <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox1" value="option1"/>로그인 상태 유지
            </label>
            여기 사이징 해줘야함..
            <label class="checkbox-inline">
                비밀번호 찾기
            </label>
        </div>
    </form>
	<!-- End Form -->
</div>
<!-- End Col -->

